.table {
  display: table;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.row,
.cell {
  padding: 2px;
}

.container {
  display: table;
  width: 100%;
  background-color: lightblue;
}

.container .box + .box {
  border-left: 3px solid lightcoral;
}
/* 요소+요소 선택자 */

.container .box {
  display: table-cell;
  text-align: center;
}
