.a-text {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 900;
  /* bold => 700, 400 semi-bold =>500 */
  font-style: italic;
  line-height: 36px;
  text-decoration: underline;
  text-decoration: none;
}
