.container {
  display: flex;
  flex-direction: row;
  border: 3px solid lightgray;
  flex-wrap: wrap;
}

.flex-item {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.item1 {
  background-color: lightblue;
}

.item2 {
  background-color: lightgoldenrodyellow;
}

.item3 {
  background-color: lightpink;
}
