.container {
  display: flex;
  flex-direction: row;
  border: 3px solid lightgray;
  height: 800px;
  width: 500px;
  align-items: flex-end;
}

.flex-item {
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.item1 {
  background-color: lightblue;
  order: 2;
}

.item2 {
  background-color: lightgoldenrodyellow;
  order: -1;
}

.item3 {
  background-color: lightpink;
}
